<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body id="page-top">
    <%- include('../partials/nav') %>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container">
          <div class="masthead-subheading">Back-end Developer HanSeungMin</div>
          <div class="masthead-heading text-uppercase">WEB PORTFOLIO</div>
      </div>
  </header>
  <!-- About-->
  <section class="page-section" id="About">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">ABOUT ME</h2>
              <img class="mx-auto rounded-lg" style="width:auto; height: auto; max-width: 400px; max-height: 400px; margin-bottom: 1rem;" src="managefile/introduce.png" alt="" />
              <h3 class="section-subheading text-muted post-body">
                <%= introduce %>
              </h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-check fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Achievements</h4>
                <p class="text-muted post-body">
                    <%= achievements %>
                </p>
              </div>
              <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Education</h4>
                <p class="text-muted post-body">
                 <%= education %>
                </p>
              </div>
              <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Experience </h4>
                <p class="text-muted post-body">
                   <%= experience %>
                </p>
              </div>
          </div>
      </div>
  </section>
  <!-- Skill-->
  <section class="page-section bg-light" id="skill">
    <div class="container">

        <!--BACK-END-->
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Skill</h2>
            <h3 class="section-subheading text-muted" style="font-size: 1.5rem">BACK-END</h3>
        </div>
        <div class="row">
            <% backend.forEach(function(skill){ %>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="/managefile/skills/<%=skill.img%>.png" alt="" />
                    <h4><%=skill.skillname%></h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <% }); %>
        </div>

        <!--FRONT-END-->
        <div class="container">
            <div class="text-center">
                <h3 class="section-subheading text-muted" style="font-size: 1.5rem">FRONT-END</h3>
            </div>
        </div>
        <div class="row">
            <% frontend.forEach(function(skill){ %>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="/managefile/skills/<%=skill.img%>.png" alt="" />
                    <h4><%=skill.skillname%></h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <% }); %>
        </div>

        <!--DATABASE-->
        <div class="container">
            <div class="text-center">
                <h3 class="section-subheading text-muted" style="font-size: 1.5rem">DATABASE</h3>
            </div>
        </div>
        <div class="row">
            <% database.forEach(function(skill){ %>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="/managefile/skills/<%=skill.img%>.png" alt="" />
                    <h4><%=skill.skillname%></h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <% }); %>
        </div>
        <!--ETC-->
        <div class="container">
            <div class="text-center">
                <h3 class="section-subheading text-muted" style="font-size: 1.5rem">ETC</h3>
            </div>
        </div>
        <div class="row">
            <% etc.forEach(function(skill){ %>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="/managefile/skills/<%=skill.img%>.png" alt="" />
                    <h4><%=skill.skillname%></h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <% }); %>
        </div>
        <div class="row" style="margin-top:3rem;">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">앞으로도 꾸준한 학습을 통해 다양한 스택을 쌓을 수 있도록 노력하겠습니다.</p></div>
        </div>
    </div>
</section>

  <!-- Portfolio Grid-->
  <section class="page-section bg-light" id="portfolio">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Portfolio</h2>
              <h3 class="section-subheading text-muted"></h3>
          </div>
          <!-- 반복문 시작 -->
          <div class="row">
            <% portfolio.forEach(function(data){ %>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" onclick="readPortfolio(`<%=data.index%>`)" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" style=" height: 300px;" src="managefile/portfolio/<%=data.img%>.png" alt=""/>
                      </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><%=data.projectname%></div>
                        <div class="portfolio-caption-subheading text-muted"><%=data.projectstart%> ~ <%=data.projectend%></div>
                        <div class="portfolio-caption-subheading text-muted"><%=data.projectsubtitle%></div>
                        <div class="portfolio-caption-subheading text-muted"><%=data.uselibrary%></div>
                    </div>
                </div>
            </div>
            <% }); %>
          </div>
      </div>
  </section>

  <!-- Contact-->
  <section class="page-section" id="contact">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">CONTACT</h2>
              <h3 class="section-subheading text-muted"></h3>
          </div>
            <div class="text-center">
                <div style="margin-bottom: 1rem;">
                    <img class="mx-auto rounded-lg" style="width:auto; height: auto; max-width: 150px; max-height: 150px;" src="assets/img/mypic.jpg" alt="" />
                </div>
                <h3 class="section-subheading2 text-muted2">
                    한 승 민<br>
                    1992. 08. 04<br>
                    eogml5581@gmail.com<br>
                    010-9115-8422<br>
                    </h3>
            </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
              <div class="col-lg-4 my-3 my-lg-0">
                  <a class="btn btn-dark btn-social mx-2" href="https://github.com/DDangKongE"><i class="fab fa-github"></i></a>
              </div>
          </div>
      </div>
  </footer>

  <!-- Portfolio Modals-->
  <!-- Modal 3-->
  <table>
      <tbody id="modalbody">


      </tbody>
  </table>


  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body post-body">
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script type="text/javascript">
    function readPortfolio(index){
        console.log('click');
        //Ajax GET Method TEST
        $.ajax({
            url: '/portpolioDetail',
            dataType: 'json',
            type: 'GET',
            data: {index:index},
            success: function(result) {
                var pfdata = result.result;
                console.log(result);
                $('.modal-body').html(`
                <h2 class="text-uppercase">PORTFOLIO</h2>
                <img class="img-fluid d-block mx-auto" src="managefile/portfolio/${pfdata.img}.png" alt="" />
                <ul class="list-inline">
                    <li>${pfdata.projectstart} ~ ${pfdata.projectend}</li>
                    </ul>
                    <p>주제 및 목표<br>
                        ${pfdata.subject}
                    </p>
                    <p>기술 및 라이브러리<br>
                        ${pfdata.uselibrary}
                    </p>
                    <p>제작과정<br>
                        ${pfdata.projectdetail}
                    </p>
                <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                `
                );
            }
        });
    }
</script>

  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Core theme JS-->
  <script src="javascripts/scripts.js"></script>
  </body>
</html>
