<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/side') %>

            <!-- Page Content Holder -->
            <div id="content">
              <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <svg class="bi bi-arrow-left-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.146 7.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 11l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M2 11a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 11zm3.854-9.354a.5.5 0 0 1 0 .708L3.207 5l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M2.5 5a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </button>
                <h1>Portfolio Editor</h1>
                <button name="create" class="btn btn-success btn-lg" onclick="location.href='./portfolio/edit'">포트폴리오 추가</button> 

                <h2>PORTFOLIO LIST</h2>
                <table class="table" style="text-align: center;" width="1000px">
                  <thead>
                    <tr style="text-align: center;">
                      <th scope="col" width="300px">아이콘</th>
                      <th scope="col" width="400px">기술</th>
                      <th scope="col" width="150px">관리</th>
                      <th scope="col" width="150px">순서변경</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var i = 0 ; %>
                    <% list.forEach(function(portfolio){ %>
                        <tr>
                          <td rowspan="2" style="vertical-align: middle;">
                            <img style="width:300px; height: 300px;" src="/managefile/portfolio/<%=portfolio.img%>.png">
                          </td>
                          <td rowspan="2" style="vertical-align: middle;"><%=portfolio.projectname%></td>
                          <td style="vertical-align: middle;">
                          <form action="./portfolio/edit/<%=portfolio.index%>">
                            <input class="btn btn-success btn-lg" type="submit"  value="수정" />
                          </form>
                          </td>
                          <td id="ig" style="vertical-align: middle;">
                            <% if (i != 0) { %>
                              <form action="/manager/portfolio/realign" method="post">
                                <input type="hidden" name="first" value="<%=list[i].index%>">
                                <input type="hidden" name="firstid" value="<%=list[i]._id%>">
                                <input type="hidden" name="second" value="<%=list[i-1].index%>">
                                <input type="hidden" name="secondid" value="<%=list[i-1]._id%>">
                                <input class="btn btn-info btn-lg" style="margin-bottom: -1rem;" type="submit" value="↑">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                            <td style="border-top: hidden;">
                                <form action="./portfolio/delete/<%=portfolio.index%>", method="post">
                                    <input class="btn btn-success btn-lg" type="submit"  value="삭제" />
                                    </form>
                            </td>
                            <td style="border-top: hidden;">
                                <% if (i != list.length-1) { %>
                                <form action="/manager/portfolio/realign" method="post">
                                    <input type="hidden" name="first" value="<%=list[i].index%>">
                                    <input type="hidden" name="firstid" value="<%=list[i]._id%>">
                                    <input type="hidden" name="second" value="<%=list[i+1].index%>">
                                    <input type="hidden" name="secondid" value="<%=list[i+1]._id%>">
                                    <input class="btn btn-info btn-lg" style="margin-bottom: -1rem;" type="submit" value="↓">
                                </form>
                                <% } %>
                            </td>
                        </tr>
                      <% i = i + 1 ; %>
                    <% }); %>
                  </tbody>
                </table>
        </div>
    </body>
</html>