<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/side') %>

            <!-- Page Content Holder -->
            <div id="content" style="width:1000px">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <svg class="bi bi-arrow-left-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.146 7.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 11l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M2 11a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 11zm3.854-9.354a.5.5 0 0 1 0 .708L3.207 5l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M2.5 5a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
                <h1>Portfolio Editor</h1>
                <% if(index==0){ %>
                <form action="/portfolio/manager/portfolio/edit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p class="font-weight-bolder">프로젝트 이름</p>
                        <input name="projectname" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bolder">프로젝트 요약</p>
                        <textarea name="projectsubtitle" type="text" class="form-control" rows="4"></textarea>
                    </div>
                    <div>
                        <p class="font-weight-bolder">프로젝트 기간</p>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input name="projectstart" type="text" class="form-control" placeholder="Project Start">
                        </div>
                        <div class="col">
                            <input name="projectend" type="text" class="form-control" placeholder="Project End">
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bolder">주제 및 목표</p>
                        <textarea name="subject" type="text" class="form-control" rows="8"></textarea>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bolder">기술 및 라이브러리</p>
                        <textarea name="uselibrary" type="text" class="form-control" rows="8"></textarea>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bolder">제작과정 및 상세내용</p>
                        <textarea name="projectdetail" type="text" class="form-control" rows="8"></textarea>
                    </div>
                    <div>
                        <p class="font-weight-bolder">이미지 업로드(1장)</p>
                    </div>
                    <div style="width:1000px; margin-bottom: 1rem;" class="custom-file">
                        <input name="uploadFile" type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div>
                        <input type="hidden" name="index" value="<%=index%>">
                        <button type="submit" class="btn btn-success">추가</button>
                    </div>
                </form>
                <% } else { %>
                    <form action="/portfolio/manager/portfolio/edit" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <p class="font-weight-bolder">프로젝트 이름</p>
                            <input name="projectname" type="text" class="form-control" value="<%=data.projectname%>">
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bolder">프로젝트 요약</p>
                            <textarea name="projectsubtitle" type="text" class="form-control" rows="4"><%=data.projectsubtitle%></textarea>
                        </div>
                        <div>
                            <p class="font-weight-bolder">프로젝트 기간</p>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input name="projectstart" type="text" class="form-control" placeholder="Project Start" value="<%=data.projectstart%>">
                            </div>
                            <div class="col">
                                <input name="projectend" type="text" class="form-control" placeholder="Project End" value="<%=data.projectend%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bolder">주제 및 목표</p>
                            <textarea name="subject" type="text" class="form-control" rows="8"><%=data.subject%></textarea>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bolder">기술 및 라이브러리</p>
                            <textarea name="uselibrary" type="text" class="form-control" rows="8"><%=data.uselibrary%></textarea>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bolder">제작과정 및 상세내용</p>
                            <textarea name="projectdetail" type="text" class="form-control" rows="8"><%=data.projectdetail%></textarea>
                        </div>
                        <div>
                            <p class="font-weight-bolder">이미지 업로드(1장) *재업로드 필요</p>
                        </div>
                        <div style="width:1000px; margin-bottom: 1rem;" class="custom-file">
                            <input name="uploadFile" type="file" class="custom-file-input" id="customFile" >
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div>
                            <input type="hidden" name="index" value="<%=index%>">
                            <input type="hidden" name="olderimg" value="<%=data.img%>">
                            <button type="submit" class="btn btn-success">추가</button>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>

        <script type="text/javascript">
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
          </script>
    </body>
</html>