<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/side') %>

            <!-- Page Content Holder -->
            <div id="content" style="min-width: 1000px">
              <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <svg class="bi bi-arrow-left-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.146 7.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 11l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M2 11a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 11zm3.854-9.354a.5.5 0 0 1 0 .708L3.207 5l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M2.5 5a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
             </button>
                <h1>Skills Editor</h1>
                <br>
                <!-- 스킬 추가하는 영역 -->
                <form action="/manager/skills/add", method="post", enctype="multipart/form-data">
                  <div>
                    <h1>Skill Add</h1>
                    <input style="width:300; margin-top: 1rem;" name="skillname" type="text" class="form-control" placeholder="기술명을 입력해주세요">
                    <br>
                    <select style="width:300;"  name="type" class="custom-select-md">
                      <option value="backend" selected>backend</option>
                      <option value="frontend">frontend</option>
                      <option value="database">database</option>
                      <option value="etc">etc</option>
                    </select>
                    <br>
                    <div style="width:300; margin-top: 1rem;" class="custom-file">
                      <input name="uploadFile" type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <br>
                    <input class="btn btn-success" type="submit" name="upload" style="width:300; margin-top: 1rem;" value="추가"/>
                  </div>
                </form>

                <!-- BACK-END -->
                <h2>BACK-END</h2>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr style="text-align: center;">
                      <th scope="col" width="30%">아이콘</th>
                      <th scope="col" width="30%">기술</th>
                      <th scope="col" width="20%">삭제</th>
                      <th scope="col" width="20%">순서변경</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var i = 0 ; %>
                    <% backend.forEach(function(skill){ %>
                        <tr>
                          <td rowspan="2" style="vertical-align: middle;">
                            <img style="width:100px; height: 100px;" src="https://hsm-portfolio.s3.ap-northeast-2.amazonaws.com/Portfolio/managefile/skills/<%=skill.img%>.png">
                          </td>
                          <td rowspan="2" style="vertical-align: middle;"><%=skill.skillname%></td>
                          <td rowspan="2" style="vertical-align: middle;">
                          <form action="./skills/delete/<%=skill.num%>", method="post">
                            <input type="hidden" name="imgname" value="<%=skill.img%>">
                            <input class="btn btn-success" type="submit"  value="삭제" />
                          </form>
                          </td>
                          <td>
                            <% if (i != 0) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=backend[i].num%>">
                                <input type="hidden" name="firstid" value="<%=backend[i]._id%>">
                                <input type="hidden" name="second" value="<%=backend[i-1].num%>">
                                <input type="hidden" name="secondid" value="<%=backend[i-1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↑">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td style="border-top: hidden;">
                            <% if (i != backend.length-1) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=backend[i].num%>">
                                <input type="hidden" name="firstid" value="<%=backend[i]._id%>">
                                <input type="hidden" name="second" value="<%=backend[i+1].num%>">
                                <input type="hidden" name="secondid" value="<%=backend[i+1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↓">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                      <% i = i + 1 ; %>
                    <% }); %>
                  </tbody>
                </table>


                <!-- FRONT-END -->                  
                <h2>FRONT-END</h2>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr style="text-align: center;">
                      <th scope="col" width="30%">아이콘</th>
                      <th scope="col" width="30%">기술</th>
                      <th scope="col" width="20%">삭제</th>
                      <th scope="col" width="20%">순서변경</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var i = 0 ; %>
                    <% frontend.forEach(function(skill){ %>
                        <tr>
                          <td rowspan="2" style="vertical-align: middle;">
                            <img style="width:100px; height: 100px;" src="https://hsm-portfolio.s3.ap-northeast-2.amazonaws.com/Portfolio/managefile/skills/<%=skill.img%>.png">
                          </td>
                          <td rowspan="2" style="vertical-align: middle;"><%=skill.skillname%></td>
                          <td rowspan="2" style="vertical-align: middle;">
                          <form action="./skills/delete/<%=skill.num%>", method="post">
                            <input type="hidden" name="imgname" value="<%=skill.img%>">
                            <input class="btn btn-success" type="submit"  value="삭제" />
                          </form>
                          </td>
                          <td>
                            <% if (i != 0) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=frontend[i].num%>">
                                <input type="hidden" name="firstid" value="<%=frontend[i]._id%>">
                                <input type="hidden" name="second" value="<%=frontend[i-1].num%>">
                                <input type="hidden" name="secondid" value="<%=frontend[i-1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↑">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td style="border-top: hidden;">
                            <% if (i != frontend.length-1) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=frontend[i].num%>">
                                <input type="hidden" name="firstid" value="<%=frontend[i]._id%>">
                                <input type="hidden" name="second" value="<%=frontend[i+1].num%>">
                                <input type="hidden" name="secondid" value="<%=frontend[i+1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↓">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                      <% i = i + 1 ; %>
                    <% }); %>
                  </tbody>
                </table>


                <!-- DATABASE -->
                <h2>DATABASE</h2>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr style="text-align: center;">
                      <th scope="col" width="30%">아이콘</th>
                      <th scope="col" width="30%">기술</th>
                      <th scope="col" width="20%">삭제</th>
                      <th scope="col" width="20%">순서변경</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var i = 0 ; %>
                    <% database.forEach(function(skill){ %>
                        <tr>
                          <td rowspan="2" style="vertical-align: middle;">
                            <img style="width:100px; height: 100px;" src="https://hsm-portfolio.s3.ap-northeast-2.amazonaws.com/Portfolio/managefile/skills/<%=skill.img%>.png">
                          </td>
                          <td rowspan="2" style="vertical-align: middle;"><%=skill.skillname%></td>
                          <td rowspan="2" style="vertical-align: middle;">
                          <form action="./skills/delete/<%=skill.num%>", method="post">
                            <input type="hidden" name="imgname" value="<%=skill.img%>">
                            <input class="btn btn-success" type="submit"  value="삭제" />
                          </form>
                          </td>
                          <td>
                            <% if (i != 0) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=database[i].num%>">
                                <input type="hidden" name="firstid" value="<%=database[i]._id%>">
                                <input type="hidden" name="second" value="<%=database[i-1].num%>">
                                <input type="hidden" name="secondid" value="<%=database[i-1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↑">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td style="border-top: hidden;">
                            <% if (i != database.length-1) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=database[i].num%>">
                                <input type="hidden" name="firstid" value="<%=database[i]._id%>">
                                <input type="hidden" name="second" value="<%=database[i+1].num%>">
                                <input type="hidden" name="secondid" value="<%=database[i+1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↓">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                      <% i = i + 1 ; %>
                    <% }); %>
                  </tbody>
                </table>


                <!-- ETC -->
                <h2>ETC</h2>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr style="text-align: center;">
                      <th scope="col" width="30%">아이콘</th>
                      <th scope="col" width="30%">기술</th>
                      <th scope="col" width="20%">삭제</th>
                      <th scope="col" width="20%">순서변경</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var i = 0 ; %>
                    <% etc.forEach(function(skill){ %>
                        <tr>
                          <td rowspan="2" style="vertical-align: middle;">
                            <img style="width:100px; height: 100px;" src="https://hsm-portfolio.s3.ap-northeast-2.amazonaws.com/Portfolio/managefile/skills/<%=skill.img%>.png">
                          </td>
                          <td rowspan="2" style="vertical-align: middle;"><%=skill.skillname%></td>
                          <td rowspan="2" style="vertical-align: middle;">
                          <form action="./skills/delete/<%=skill.num%>", method="post">
                            <input type="hidden" name="imgname" value="<%=skill.img%>">
                            <input class="btn btn-success" type="submit"  value="삭제" />
                          </form>
                          </td>
                          <td>
                            <% if (i != 0) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=etc[i].num%>">
                                <input type="hidden" name="firstid" value="<%=etc[i]._id%>">
                                <input type="hidden" name="second" value="<%=etc[i-1].num%>">
                                <input type="hidden" name="secondid" value="<%=etc[i-1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↑">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td style="border-top: hidden;">
                            <% if (i != etc.length-1) { %>
                              <form action="/manager/skills/realign" method="post">
                                <input type="hidden" name="first" value="<%=etc[i].num%>">
                                <input type="hidden" name="firstid" value="<%=etc[i]._id%>">
                                <input type="hidden" name="second" value="<%=etc[i+1].num%>">
                                <input type="hidden" name="secondid" value="<%=etc[i+1]._id%>">
                                <input class="btn btn-info btn-sm" style="margin-bottom: -1rem;" type="submit" value="↓">
                              </form>
                            <% } %>
                          </td>
                        </tr>
                      <% i = i + 1 ; %>
                    <% }); %>
                  </tbody>
                </table>
            </div>
        </div>

    <script type="text/javascript">
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>
    </body>
</html>